body{
  font-family       : 'Raleway', sans-serif;
  color             : #6F4B03;
}

#top-navbar{
  background-color  : #6F4B03;
  color             : #FBEDCF;
}

#top-navbar a, #top-navbar a:visited, #top-bar a:active{
  color             : #FBEDCF;
}

.intro-section, .selo-materna-cozinha-section, .contato-section{
  background-color  : #FBEDCF;
}

.contact-section {
    height: 1588px;
}

#top-navbar .container li.active a{
  background-color  : #FBEDCF;
  color             : #6F4B03;
}

@media screen and (max-width: 499px) {
  #sobre-grande{
    display : none;
  }

  section#sobre{
    height      : 530px;
  }

  img#logo{
    margin-top  : -70px;
    width       : 100%;
  }

  p{
    line-height : 25px;
    text-align  : justify;
  }

  .site-section{
    padding-top : 30px;
  }

  .idealizadoras-section{
    height      : 800px;
  }

  .intro-section, .idealizadoras-section{
    background-color  : #FBEDCF;
  }
}

@media screen and (min-width: 500px) {
  section#sobre, li#link-sobre{
    display     : none;
  }

  #sobre-grande h2{
    text-align  : left;
  }

  #logo-img


  img#logo{
    width : 100%;
  }

  .intro-section p, .idealizadoras-section p{
    padding-top     : 50px;
    text-align      : justify;
    line-height     : 50px;
    font-size       : 18px;
  }
}
