body{
  background-color  : #FBEDCF;
  font-family       : 'Indie Flower', cursive;
  color             : #6F4B03;
}

div#logo-container{
  text-align  : center;
  padding     : 10px;
}

img#logo{
  width     : 100%;
  max-width : 480px;
}

#links a, #links a:visited, #links a:active{
  color     : #6F4B03;
  font-size : 20px;
}

@media screen and (min-width: 500px) {
  div#logo-container{
    padding-top : 50px;
  }

  div#logo-container h3{
    margin-top  : 50px;
  }

  div#contact-form{
    padding-bottom  : 50px;
  }
}
